body {
    background: hsla(26, 42%, 14%, 1);
    background: linear-gradient(230deg, hsla(26, 42%, 14%, 1) 45%, hsla(280, 18%, 3%, 1) 100%);
    background: -moz-linear-gradient(230deg, hsla(26, 42%, 14%, 1) 45%, hsla(280, 18%, 3%, 1) 100%);
    background: -webkit-linear-gradient(230deg, hsla(26, 42%, 14%, 1) 45%, hsla(280, 18%, 3%, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#332215", endColorstr="#0070A", GradientType=1);
}

#title2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

#title2 h1 {
    font-family: "ZCOOL XiaoWei", sans-serif;
    font-size: 120px;
    color: #8bd8ff;
    position: absolute;
    z-index: 10;
    top: -70px;
}

#title2 h2 {
    font-family: "Playwrite BE VLG", cursive;
    font-size: 70px;
    color: #fecf88;
    position: relative;
    top: 30px;
    left: -10px;
    z-index: 11;
}

#picture {
    display: flex;
}

#windowSceneDt {
    position: relative;
    top: 15%;
    left: 0;
    z-index: 3;
    width: 60%;
}

#windowDt {
    position: absolute;
    z-index: 1;
}

#sceneDt img {
    width: 540px;
    height: 515px;
}

#sceneDt {
    position: absolute;
    z-index: 0;
    top: 11%;
    left: 260px;
}

#movingScene {
    display: none;
    z-index: -5;
    position: absolute;
    top: 65px;
    animation: scrollScenery 5s linear infinite;
}

@keyframes scrollScenery {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-75%);
    }
}

#movingScene img {
    height: 550px;
}

#city {
    display: flex;
    position: absolute;
    z-index: 2;
}

#city h3 {
    font-family: "ZCOOL XiaoWei", sans-serif;
    color: #8bd8ff;
    font-size: 5em;
    position: absolute;
    top: 600px;
    left: 100px;
    width: 200px;
}

#city h4 {
    font-family: "Playwrite BE VLG", cursive;
    color: #fecf88;
    font-size: 2.5em;
    position: absolute;
    top: 675px;
    left: 80px;
}

#city a {
    text-decoration: none;
    background-color: #4e7a91;
    padding: 10px;
    width: 270px;
    height: 45px;
    font-family: "Delius", cursive;
    color: #fecf88;
    font-size: 1.5em;
    text-align: center;
    border-radius: 30px;
    position: absolute;
    top: 720px;
    left: 700px;
    transition: background-color 1s ease;
}

#city a:hover {
    background-color: #fecf88;
    color: #333;
}

/* 票和日常照片 */

#section1 {
    z-index: 10;
    width: 40%;
    height: 885px;
    position: relative;
    background: hsla(26, 42%, 14%, 1);
    background: linear-gradient(230deg, hsla(26, 42%, 14%, 1) 45%, hsla(280, 18%, 3%, 1) 100%);
    background: -moz-linear-gradient(230deg, hsla(26, 42%, 14%, 1) 45%, hsla(280, 18%, 3%, 1) 100%);
    background: -webkit-linear-gradient(230deg, hsla(26, 42%, 14%, 1) 45%, hsla(280, 18%, 3%, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#332215", endColorstr="#0070A", GradientType=1);
}

#dailyPictureDt {
    margin: 40px 0 50px 100px;
}

#dailyPictureDt img {
    width: fit-content;
    padding: 8px;
    border: 20px solid #2f2a1b;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    margin: 20px;
    width: 370px;
    height: 500px;
    border-radius: 80px;
    box-shadow: inset 0 0 5px grey;
}

#ticketDt {
    margin: 15px 0 0 40px;
}

/* Train moving */
.track {
    width: 100%;
    height: 80px;
    position: relative;
    background: #333;
    border-bottom: 1px solid #ffff;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.train {
    position: absolute;
    top: -5px;
    width: 560px;
    height: 80px;
    background-image: url('https://cthrnxy.github.io/des157a-fa24/final/images/train.png');
    background-size: cover;
    right: 0;
    transition: right 0.2s ease-out;
    z-index: 3;
}

#train h4 {
    font-family: "Sriracha", cursive;
    color: #8bd8ff;
    font-size: 2em;
    position: absolute;
    left: 5%;
    top: -10%;
    z-index: 4;
}

#trainMoving h4 {
    position: absolute;
    top: 15px;
    left: 35px;
    color: aliceblue;
    font-family: "Sriracha", cursive;
    font-size: 1.4em;
}

footer {
    display: flex;
    padding: 10px;
    background-color: #333;
    justify-content: last baseline;
}

footer > h4 {
    font-family: "Sriracha", cursive;
    color:aliceblue;
    font-size: 20px;
    margin: 3%;
}

#sources {
    width: 220px;
    font-size: 18px;
    text-align: center;
    background-color: #4e7a91;
    color: #fecf88;
    padding: 10px;
    text-decoration: none;
    border-radius: 30px;
    font-family: "Delius", cursive;
    height: 30px;
    align-self: center;
    justify-self: flex-end;
    transition: background-color 1s ease;
}

#sources:hover {
    background-color: #8bd8ff;
    color: #2f2a1b;
}

address {
    font-family: "Libre Baskerville", serif;
    color: aliceblue;
    display: flex;
    margin: 3%;
    font-size: 20px;
}

address .Contact a i {
    color: aliceblue;
    margin-right: 10px;
}

/* 轮播动画效果 */

.out {
    width: 800px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    top: 40px;
}

.out .inner {
    width: 100%;
    height: 100%;
}

.out .inner .img {
    width: 230px;
    height: 150px;
    position: absolute;
    transition: 0.3s;
}

.out .inner .img img {
    width: 100%;
    height: 100%;
}

.out .arrow {
    font-size: 32px;
}

.out .arrow i {
    display: block;
    position: absolute;
    color: #fff;
    z-index: 9999;
    cursor: pointer;
    top: 60px;
}

.out .arrow .left {
    left: -20px;
}

.out .arrow .right {
    left: 627px;
}

.out .button {
    width: 175px;
    height: 15px;
    position: absolute;
    z-index: 9999;
    left: 47%;
    top: 180px;
    transform: translateX(-50%);
}

.out .button p {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    float: left;
    margin: 0 5px;
    cursor: pointer;
    background-color: silver;
}

.out .button p:first-child {
    background-color: #8bd8ff;
}

.out #last {
    transform: translateX(0);
    z-index: 9;
    opacity: 1;
}

.out #first {
    transform: translateX(200px) scale(1.3);
    z-index: 99;
    opacity: 1;
}

.out #second {
    transform: translateX(400px);
    z-index: 9;
    opacity: 1;
}

.out #left {
    transform: translateX(-100px);
    z-index: 1;
    opacity: 0;
}

.out #right {
    transform: translateX(500px);
    z-index: 1;
    opacity: 0;
}
